@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  width: 100%;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #797c7e inherit;
  background-color: #797c7e;
}

*::-webkit-scrollbar {
  width: 8px;
  scrollbar-color: #797c7e inherit;
  padding-right: 2px;
  padding-left: 2px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  padding-right: 2px;
  padding-left: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #797c7e;
  border-radius: 4px;
  border: 1px solid #797c7e;
  padding-right: 2px;
  padding-left: 2px;
}
